.container
    .jumbotron
        h1 SuchCommerce
        p Welcome to Such Commerce Technologies, the real Omni Channel Commerce Platform
     .row
         .col-md-6
             div(ng-include="'/partials/main/featured-courses'")
         .col-md-6
             div(ng-include="'/partials/main/new-courses'")
